#background-container{
    height: 100vh;
    width: 100vw;
    position: relative;
}
#background-gradient{
    background: rgb(6, 2, 19);
    background: -moz-linear-gradient(164deg, rgba(11,4,32,1) 0%, rgba(10,7,37,1) 17%, rgba(3,29,66,1) 43%, rgba(3,29,66,1) 44%, rgba(11,6,36,1) 82%, rgba(11,4,32,1) 100%);
    background: -webkit-linear-gradient(164deg, rgba(11,4,32,1) 0%, rgba(10,7,37,1) 17%, rgba(3,29,66,1) 43%, rgba(3,29,66,1) 44%, rgba(11,6,36,1) 82%, rgba(11,4,32,1) 100%);
    background: linear-gradient(164deg, rgba(11,4,32,1) 0%, rgba(10,7,37,1) 17%, rgba(3,29,66,1) 43%, rgba(3,29,66,1) 44%, rgba(11,6,36,1) 82%, rgba(11,4,32,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0b0420",endColorstr="#0b0420",GradientType=1);
    height: 100%;
    width: 100%;
    z-index: -5;
}
#planets{
    background-image: url("../images/inspiration.webp");
    height: 100%;
    width: 100%;
    z-index: 0;
    position: absolute;
    top: 0;
    opacity: 0.35;
    background-attachment: fixed;
    background-size: cover;
    box-shadow: rgba(28, 28, 125, 0.784) -15px 25px 50px 20px;
}
#top-landing-container h1{
    display: inline-block;
    width: auto;
    background-color: rgba(0, 119, 255, 0.342);
    padding: 8px;
    border-radius: 18px;
    font-size: 1em;
    margin-bottom: 5px;
    padding-left: 14px;
    padding-right: 14px;
}
#top-landing-container h2{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#top-landing-container h3{
    margin-top: 8px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#top-landing-container{
    position: absolute;
    top: 0;
    color: white;
    z-index: 2;
    width: 50%;
    margin-top: 40vh;
    margin-left: 2vw;
}
#top-hover-graphics img{
    position: absolute;
    right: 15%;
    top: 25%;
    height: 500px;
    animation: mymove 5s;
    animation-iteration-count: infinite;
}
@keyframes mymove{
    0% {top: 30%;}
    50% {top: 20%;}
    100%{top: 30%;}

  }
.down-arrow-graphic{
    position: absolute;
    bottom: 4%;
    left: 49%;
    height: 25px;
    width: 45px;
    animation: arrowmove 3s;
    animation-iteration-count: infinite;
    padding: 1%;
}
@keyframes arrowmove {
    0% {bottom: 4%;}
    25% {bottom: 5%;}
    50% {bottom: 4%;}
    75% {bottom: 5%;}
    100%{bottom: 4%;}
}

#top-landing-container a button{
    margin-top: 20px;
    font-weight: 800;
    backdrop-filter: blur(2px);
    background: hsla(218, 95%, 41%, 0.15);
    background: linear-gradient(315deg, hsla(218, 95%, 41%, 0.15) 0%, hsla(326, 52%, 44%, 0.25) 100%);
    background: -moz-linear-gradient(315deg, hsla(218, 95%, 41%, 0.15) 0%, hsla(326, 52%, 44%, 0.25) 100%);
    background: -webkit-linear-gradient(315deg, hsla(218, 95%, 41%, 10.15) 0%, hsla(326, 52%, 44%, 0.25) 100%);
    color: white;
    font-size: larger;
    border: none;
    border-radius: 30px;
    padding: 12px;
    border: 1px solid white;
    box-shadow: rgba(143, 223, 255, 0.3) 0px 0px 29px 0px;
    transition: ease 0.3s;
}
#top-landing-container a button:hover{
    box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 55px 0px;
}
#resume-button{
    background-color: rgb(0, 255, 234);
    border: none;
    padding: 15px;
    border-radius: 55px;
    position: fixed;
    z-index: 2;
    top: 14px;
    right: 14px;
    box-shadow: rgba(27, 203, 209, 0.8) 0px 5px 35px;
    border: solid 4px rgba(255, 255, 255, 0);
    /*animation: resumeBreathing 6s;*/
    animation-iteration-count: infinite;
}
#resume-button img{
    height: 50px;
    width: 50px;
}
#resume-button:hover{
    background-color: rgb(133, 255, 255);
    box-shadow: rgba(44, 213, 219, 0.5) 0px 5px 45px;
    cursor: pointer;
    border: solid 4px white;
}
#top-landing-container p{
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    display: inline-block;
}
.tooltip{
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.tooltip .tooltiptext{
    visibility: hidden;
    width: 75px;
    background-color: rgba(0, 0, 0, 0.616);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -37px;
    margin-top: 10px;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}
.alert{
    text-align: center;
    padding: 20px;
    background: #24b324;
    color: white;
    margin-bottom: 10px;
    display: none;
    position: fixed;
    z-index: 1;
    width: 100vw;
    top: 14px;
}
nav{
    color: white;
    top: 4%;
    right: 150px;
    position: fixed;
    z-index: 5;
}
nav a{
    margin: 8px;
    font-size: 1.3em;
    font-weight: 600;
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding: 2px;
    color: white;
}
nav a:visited{
    color: white;
    text-decoration: none;
}
nav a:hover{
    color: white;
    text-decoration: none;
    border-bottom: 3px solid white;
}